<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{},~{})">
    <title>Management</title>
</head>
<body class="mdui-theme-primary-blue">
<!--header-->
<div th:replace="header::header"></div>
<div class="title-banner" style="background: url('/static/images/banner.jpg')">
    <div class="big-title">
        <p><img style=" max-height: 80px" src="/static/images/logo.png" alt="">
            Administration Center</p>
    </div>
</div>
<div class="line1"></div>
<!---->
<br/>
<div class="mdui-container">
    <div class="col-md-7">
        <form onsubmit="return false;">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">
                        <div id="loading" class="mdui-spinner" style="display: none">
                        </div>
                        Login before continue
                    </div>
                    <div class="mdui-card-primary-subtitle">
                        Olympic NEU
                    </div>
                </div>
                <div class="mdui-card-content">
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Username</label>
                        <input id="username" class="mdui-textfield-input" type="text"/>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Password</label>
                        <input id="password" class="mdui-textfield-input" type="password"/>
                    </div>

                </div>
                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-btn-raised" onclick="login()">Login</button>
                </div>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
</div>
<br/>
<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script>
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        if (username === "" || password === "") {
            mdui.snackbar({
                message: 'Both username and password are required.'
            });
            return;
        }
        $("#loading").show(250);
        $.ajax({
            url: "/user/login",
            type:"post",
            contentType: 'application/json',
            data: JSON.stringify({username: username, password: password}),
            dataType: "json",
            success: function (data) {
                if (data.code === '100') { //success code
                    location.href = "/admin/dashboard?token=" + data.token;
                } else if (data.code === '500') {
                    mdui.alert('Your username or password is not correct.', 'Authentication Failed', null, {});
                    $("#loading").hide(250);
                } else {
                    mdui.snackbar({
                        message: 'Your input is not correct. Try again.'
                    });
                    $("#loading").hide(250);
                }
            },
            error: function (err) {
                mdui.snackbar({
                    message: 'Error occurs during the communication with server. Infomation:' + err.toString()
                });
                $("#loading").hide(250);
            }
        })
    }
</script>
</body>
</html>