<!DOCTYPE html>
<html>
<head>
    <title>Athlete</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css"  rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link rel="stylesheet" href="/static/css/etalage.css">
    <script src="/static/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2>Wu Dajing</h2>

                    <div class="star">
                        <div class="review">
                            Metals
                            <img src="/static/images/gold.png"/> 1
                            <img src="/static/images/silver.png"/> 3
                            <img src="/static/images/bronze.png"/> 4
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    Rank
                    <small>Delegation</small>
                    <small>Age</small>
                    <small>Height</small>
                    <small>DOB</small>
                    <label class="add-to">#3 </label>
                    <p>
                        LaLaLaLajjj
                        <a href="#" class="cart ">More from Wiki</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Countries or Region</h4>
                <ul>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Japan.png">
                        <a href="#"><span></span> Japan</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20South%20Korea.png">
                        <a href="#"><span></span> South Korea</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20Kingdom.png">
                        <a href="#"><span></span> United Kongdom</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20States.png">
                        <a href="#"><span></span> United States</a>
                    </li>
                    <li>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20Chinese%20Taipei(Republic%20of%20China).png">
                        <a href="#"><span></span> Chinese Taipei</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single">
        <div>
            <h3>Events and Medals</h3>
            <table id="events">
                <thead>
                <tr>
                    <th>
                        Event</th>
                    <th>
                        Rank</th>
                </tr>

                </thead>
                <tbody>

                <tr>
                    <td>
                        Men's 20km Individual
                    </td>
                    <td>
                        43
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        Men's 10km Sprint
                    </td>
                    <td>
                        81
                    </td>
                </tr>
                <tr>
                    <td>
                        Men's 4x7.5km Relay
                    </td>
                    <td>
                        2
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div>
            <h3>Schedule</h3>
            <table id="schedule">
                <thead>
                <tr>
                    <th>
                        Time</th>
                    <th>
                        Location</th>
                    <th>
                        Event</th>
                    <th>
                        Status</th>
                </tr>

                </thead>
                <tbody>

                <tr>
                    <td>Sun, 11 Feb 20:15</td>
                    <td>Olympic Center</td>
                    <td>Men's 10km Sprint</td>
                    <td>Finished</td>
                </tr>
                <tr class="Res2">
                    <td>Thu, 15 Feb 20:20 </td>
                    <td>Alpensia Biathlon Centre</td>
                    <td>Men's 20km Individual</td>
                    <td>Finished</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#schedule').DataTable();
        $('#events').DataTable();
    } );
</script>
</body>
</html>