<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{::link},~{})">
    <title>Athlete</title>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div th:replace="header::header"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="img-responsive" th:src="@{|/static/images/persons/${athlete.photo}|}" alt=""
                     style="max-height: 200px">
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2>
                        <img class="flag-xsmall"
                             th:src="@{|/static/images/flags/Flag Of ${athlete.delegations.name}.png|}"/>
                        <span th:text="${athlete.name}">NAME</span>
                    </h2>
                    <div>
                        <label class="add-to" th:text="${athlete.delegations.name}"
                               th:href="@{|/delegation/${athlete.delegations.id}|}">DELEGATION_NAME</label>
                    </div>
                    <p th:text="${athlete.sex}==0?'Male':'Female'"></p>
                    <p th:text="${athlete.description}">
                        DESC
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Athletes Of This Delegation</h4>
                <ul>
                    <li>
                        <img class="flag-small" src="/static/images/persons/1.jpg">
                        <a href="#"><span></span> JIA Zongyang</a>
                    </li>
                    <li>
                        <img class="flag-small" src="/static/images/persons/2.jpg">
                        <a href="#"><span></span> ZHANG Xin</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single">
        <div>
            <h3>Events of <span th:text="${athlete.name}"></span></h3>
            <table id="events">
                <thead>
                <tr>
                    <th>
                        Event
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Rank
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event:${athlete.individualCompetitions}">
                    <td>
                        <a th:href="@{|/competition/${event.competition.id}|}" th:text="${event.competition.name}">
                            Men's 20km Individual
                        </a>
                    </td>
                    <td th:text="${event.competition.time}">
                        TIME
                    </td>
                    <td th:text="${event.result}==null?'Not finished':${event.result}">
                        RESULT
                    </td>
                    <td th:text="${event.rank}==null?'Not finished':${event.rank}">
                        RANK
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <br/><br/>
        <div>
            <h3>Competition Teams including <span th:text="${athlete.name}"></span></h3>
            <table id="schedule">
                <thead>
                <tr>
                    <th>
                        Team Name
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team:${athlete.teams}">
                    <td>
                        <a th:href="@{|/team/${team.id}|}" th:text="${team.name}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#schedule').DataTable();
        $('#events').DataTable();
    });
</script>
</body>
</html>