<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,styles)">
    <meta charset="utf-8">
    <title th:replace="${title}">TITLE</title>

    <!-- Bootstrap basic library -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>

    <!--olympic theme style & material design components library-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <!--//olympic theme style-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="/static/js/mdui.min.js"></script>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    <!--/* Per-page placeholder for additional styles */-->
    <th:block th:replace="${styles}" />
</head>
