<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Competitions</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css"  rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Sport Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link rel="stylesheet" href="/static/css/etalage.css">
    <script src="/static/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">

    <div class="single">
        <div>
            <h3>Competitions Overview</h3>
            <table id="medals">
                <thead>
                <tr>
                    <th>
                        Type</th>
                    <th>
                        Schedule</th>
                    <th>
                        Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u2.png" alt="">
                        <strong><a href="">Biathlon 2</a></strong>
                    </td>
                    <td>
                        June-25-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u2.png" alt="">
                        <strong><a href="">Biathlon</a></strong>
                    </td>
                    <td>
                        June-28-2018</td>
                    <td>
                        In progress</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u3.png" alt="">
                        <strong><a href="">Bobsleigh</a></strong>
                    </td>
                    <td>
                        June-28-2018</td>
                    <td>
                        In progress</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u4.png" alt="">
                        <strong><a href="">Cross-Country Skiing</a></strong>
                    </td>
                    <td>
                        June-25-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u5.png" alt="">
                        <strong><a href="">Curling</a></strong>
                    </td>
                    <td>
                        June-24-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u6.png" alt="">
                        <strong><a href="">Figure Skating</a></strong>
                    </td>
                    <td>
                        June-22-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u7.png" alt="">
                        <strong><a href="">Freestyle Skiing</a></strong>
                    </td>
                    <td>
                        June-21-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u8.png" alt="">
                        <strong><a href="">Short Track Speed Skating</a></strong>
                    </td>
                    <td>
                        June-25-2018</td>
                    <td>
                        Finished</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u9.png" alt="">
                        <strong><a href="">Skeleton</a></strong>
                    </td>
                    <td>
                        June-31-2018</td>
                    <td>
                        Pending</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u10.png" alt="">
                        <strong><a href="">Ski Jumping</a></strong>
                    </td>
                    <td>
                        June-30-2018</td>
                    <td>
                        Pending</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/sports/u11.png" alt="">
                        <strong><a href="">Snowboard</a></strong>
                    </td>
                    <td>
                        June-31-2018</td>
                    <td>
                        Pending</td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-small" src="/static/images/sports/u12.png" alt="">
                        <strong><a href="">Speed Skating</a></strong>
                    </td>
                    <td>
                        June-31-2018</td>
                    <td>
                        Pending</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic-ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#medals').DataTable();
    } );
</script>
</body>
</html>