<!DOCTYPE html>
<html>
<head>
    <title>Countries</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->

</head>
<body>
<!--header-->
<div id="header"></div>
<div class="title-banner" style="background: url('/static/images/photos/flags.jpg')">
    <div class="big-title">
        <h1 id="delegation-loading">Loading...</h1>
    </div>
</div>
<div class="line1"></div>
<!---->
<div class="product-grids">
    <div id="countries-panel" class="container" style="display: none">
        <h3>Africa</h3>
        <div id="continent0" class="product-top">
        </div>
        <div class="clearfix"></div>

        <h3>America</h3>
        <div id="continent1" class="product-top">
        </div>
        <div class="clearfix"></div>

        <h3>Asia & Pacific</h3>
        <div id="continent2" class="product-top">
        </div>
        <div class="clearfix"></div>

        <h3>Europe</h3>
        <div id="continent3" class="product-top">
        </div>
        <div class="clearfix"></div>

        <h3>Oceania</h3>
        <div id="continent4" class="product-top">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js">
</script>
<script src="/static/js/ToProgress.min.js"></script>
<script>
    var country_template = '<div class="col-xs-6 col-sm-4 col-md-2 grid-product-in"><div class=" product-grid">' +
        '<a href="/delegation/__COUNTRY_NAME__"><img class="img-responsive" src="/static/images/flags/Flag%20of%20__COUNTRY_NAME__.png" alt=""></a>' +
        '<div class="item-in">' +
        '<h6><a href="/delegation/__COUNTRY_NAME__">__COUNTRY_NAME__ </a></h6></div></div></div>';
    var progressBar = new ToProgress({
        id: 'top-progress-bar',
        color: '#F44336',
        height: '10px',
        duration: 1.0
    });
    $(document).ready(function () {
        progressBar.increase(60);
        // load countries list by ajax
        $.ajax({
            async: true,
            url: '/delegation/list', //URL Requested
            type: "GET", // Get only
            dataType: "json",
            success: function (data) {
                var countries=data;
                if(countries['code'] === '100'){
                    var country;
                    for(var i =0; i<countries['data']['list'].length; i++){
                        $('#continent'+countries['data']['list'][i]['continent']).append(
                            compileTemplate(country_template,{COUNTRY_NAME: countries['data']['list'][i]['name']})
                        );
                    }
                    $('#countries-panel').slideDown(800);
                }
                progressBar.finish();
                fadeToText('delegation-loading','Delegations of Countries/Regions');
            }
        })
    });

</script>
</body>
</html>