<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delegation</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>


</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="flag-big" th:src="@{|/static/images/flags/Flag%20of%20${name}.png|}"/>
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2 th:text="${name}">China</h2>

                    <div class="star">
                        <div class="review">
                            Metals
                            <img src="/static/images/gold.png"/> 1
                            <img src="/static/images/silver.png"/> 3
                            <img src="/static/images/bronze.png"/> 4
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    Rank
                    <small>Metals in total</small>
                    <label class="add-to">#3 </label>
                    <p>
                        China, officially the People's Republic of China (PRC), is a unitary one-party sovereign state
                        in East Asia and the world's most populous country, with a population of around 1.404
                        billion.[13] Covering approximately 9,600,000 square kilometers (3,700,000 sq mi), it is the
                        third- or fourth-largest country by total area,[k][19] depending on the source consulted. China
                        also has the most neighbor countries in the world. Governed by the Communist Party of China, it
                        exercises jurisdiction over 22 provinces, five autonomous regions, four direct-controlled
                        municipalities (Beijing, Tianjin, Shanghai, and Chongqing), and the special administrative
                        regions of Hong Kong and Macau.
                        <a href="#" class="btn-red ">More from Wiki</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Countries or Region</h4>
                <ul>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Japan.png">
                        <a href="#"><span></span> Japan</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20South%20Korea.png">
                        <a href="#"><span></span> South Korea</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20Kingdom.png">
                        <a href="#"><span></span> United Kongdom</a>
                    </li>
                    <li>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20United%20States%20of%20America.png">
                        <a href="#"><span></span> United States</a>
                    </li>
                    <li>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png">
                        <a href="#"><span></span> Chinese Taipei</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single">
        <div class="content-grids">
            <h3>Medals</h3>
            <div class="col-md-4 content-grid">
                <a href="/athlete/JIA Zongyang" class="lot">
                    <img class="img-responsive" src="/static/images/persons/1.jpg" alt="">
                </a>
                <div class="big-item">
                    <p><img src="/static/images/silver.png"/> Silver</p>
                    <label>JIA Zongyang</label>
                    <a href="/competition/1">Men's Aerials</a>
                </div>
                <div class="clearfix"></div>
                <b class="plus-in">+</b>
            </div>
            <div class="col-md-4 content-grid">
                <a href="/athlete/ZHANG Xin" class="lot">
                    <img class="img-responsive" src="/static/images/persons/2.jpg" alt="">
                </a>
                <div class="big-item">
                    <p><img src="/static/images/silver.png"/> Silver</p>
                    <label>ZHANG Xin</label>
                    <a href="/competition/1">Ladies' Aerials</a>
                </div>
                <div class="clearfix"></div>
                <b class="plus-in">+</b>
            </div>
            <div class="col-md-4 content-grid">
                <a href="/athlete/WU Dajing" class="lot">
                    <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
                </a>
                <div class="big-item">
                    <p><img src="/static/images/silver.png"/> Golden</p>
                    <label>WU Dajing</label>
                    <a href="/competition/1">Men's 500m</a>
                </div>
                <div class="clearfix"></div>
                <b class="plus-in">+</b>
            </div>
            <div class="clearfix"></div>
        </div>

        <div>
            <h3>Participants and medals of the sport</h3>
            <table id="medals">
                <thead>
                <tr>
                    <th>
                        Discipline
                    </th>
                    <th>
                        Female
                    </th>
                    <th>
                        Male
                    </th>
                    <th>
                        Total
                    </th>
                </tr>

                </thead>
                <tbody>

                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/1.png" alt="">
                        <strong><a href="/competition/1">Alpine Skiing</a></strong>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a href="#">
                            2</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/2.png" alt="">
                        <strong><a href="../../en/biathlon/daily-schedule.htm">Biathlon</a></strong>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a href="#">
                            2</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/3.png" alt="">
                        <strong><a>Bobsleigh</a></strong>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        <a>
                            5</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/4.png" alt="">
                        <strong><a>Cross-Country
                            Skiing</a></strong>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        <a href="#">
                            4</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/5.png" alt="">
                        <strong><a href="/competition/1">Curling</a></strong>
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a>
                            7</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/6.png" alt="">
                        <strong><a>Figure Skating</a></strong>
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        <a>
                            11</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/7.png" alt="">
                        <strong><a>Freestyle Skiing</a></strong>
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        <a>
                            15</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/8.png" alt="">
                        <strong><a>Short Track Speed
                            Skating</a></strong>
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        <a>
                            10</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/9.png" alt="">
                        <strong><a>Skeleton</a></strong>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a>
                            1</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Total</b>
                    </td>
                    <td>
                        46
                    </td>
                    <td>
                        34
                    </td>
                    <td>
                        <b>80</b>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#medals').DataTable();
    });


</script>
</body>
</html>