<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{::link},~{})">
    <title>Delegation</title>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
</head>
<body class="mdui-theme-primary-blue">
<!--header-->
<div th:replace="header::header"></div>
<!---->
<div class="mdui-container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="flag-big" th:src="@{|/static/images/flags/Flag%20of%20${delegation.name}.png|}"/>
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2 th:text="${delegation.name}">DELEGATION_NAME</h2>
                    <div class="star">
                        <div class="review">
                            Metals Overview
                            <img src="/static/images/gold.png"/> <span th:text="${delegation.gold}">GOLD</span>
                            <img src="/static/images/silver.png"/> <span th:text="${delegation.silver}">SILVER</span>
                            <img src="/static/images/bronze.png"/> <span th:text="${delegation.bronze}">BRONZE</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="mdui-typo">
                    <blockquote>
                        <p th:text="${delegation.description}">
                            DELEGATION_DESC
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Countries or Region</h4>
                <ul>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Japan.png">
                        <a href="#"><span></span> Japan</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20South%20Korea.png">
                        <a href="#"><span></span> South Korea</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20Kingdom.png">
                        <a href="#"><span></span> United Kongdom</a>
                    </li>
                    <li>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20United%20States%20of%20America.png">
                        <a href="#"><span></span> United States</a>
                    </li>
                    <li>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png">
                        <a href="#"><span></span> Chinese Taipei</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="mdui-container-fluid">
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">directions_run</i> Athletes
                </div>
            </div>
            <div class="mdui-card-content">
                <div class="mdui-row">
                    <div th:each="individual,index:${individuals}"
                         class="individual-list-item mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-4 mdui-card mdui-shadow-0 mdui-hoverable mdui-ripple"
                         th:onclick="'location.href=\'/athlete/'+${individual.id}+'\''">
                        <a th:href="'/athlete/'+${individual.id}" class="lot">
                            <img class="mdui-img-fluid mdui-img-circle"
                                 th:src="@{|/static/images/persons/${individual.photo}|}" alt=""
                                 style="max-height: 150px"/>
                        </a>
                        <div class="big-item">
                            <p><i class="mdui-icon material-icons">person</i> Athlete</p>
                            <label th:text="${individual.name}">JIA Zongyang</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br/>
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">format_list_bulleted</i> Teams
                    of this delegation
                </div>
            </div>
            <div class="mdui-card-content">
                <ul class="mdui-list">
                    <li th:each="team,index:${teams}" class="mdui-list-item">
                        <i class="mdui-icon material-icons">group</i>
                        <a th:text="${team.name}" th:href="'/team/'+${team.id}" class="lot">
                            TEAM_NAME
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="mdui-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">format_list_numbered</i> Medals
                    of this delegation
                </div>
            </div>
            <div class="mdui-card-content">

                <table id="medals">
                    <thead>
                    <tr>
                        <th>
                            Discipline
                        </th>
                        <th>
                            Female
                        </th>
                        <th>
                            Male
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/1.png" alt="">
                            <strong><a href="/sport/1">Alpine Skiing</a></strong>
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <a href="#">
                                2</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/2.png" alt="">
                            <strong><a href="../../en/biathlon/daily-schedule.htm">Biathlon</a></strong>
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            <a href="#">
                                2</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/3.png" alt="">
                            <strong><a>Bobsleigh</a></strong>
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            <a>
                                5</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/4.png" alt="">
                            <strong><a>Cross-Country
                                Skiing</a></strong>
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            <a href="#">
                                4</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/5.png" alt="">
                            <strong><a href="/sport/1">Curling</a></strong>
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <a>
                                7</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/6.png" alt="">
                            <strong><a>Figure Skating</a></strong>
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            <a>
                                11</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/7.png" alt="">
                            <strong><a>Freestyle Skiing</a></strong>
                        </td>
                        <td>
                            9
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            <a>
                                15</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/8.png" alt="">
                            <strong><a>Short Track Speed
                                Skating</a></strong>
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            <a>
                                10</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="flag-xsmall" src="/static/images/sports/9.png" alt="">
                            <strong><a>Skeleton</a></strong>
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <a>
                                1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total</b>
                        </td>
                        <td>
                            46
                        </td>
                        <td>
                            34
                        </td>
                        <td>
                            <b>80</b>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br/>
<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#medals').DataTable();
    });


</script>
</body>
<style>
    .individual-list-item {
        margin-bottom: 5px;
    }
</style>
</html>