<!--footer partial module-->
<div class="footer">
    <div class="col-md-3 footer-left">
        <h4>Competitions</h4>
        <div class="run-top">
            <ul class="run-grid">
                <li>
                    <a href="#">RUNNING</a>
                </li>
                <li>
                    <a href="#">CYCLING</a>
                </li>
                <li>
                    <a href="#">TRIATHLON</a>
                </li>
                <li>
                    <a href="/sport/all">MORE SPORTS</a>
                </li>
            </ul>
            <ul class="run-grid">
                <li>
                    <a href="#">INDIVIDUAL</a>
                </li>
                <li>
                    <a href="#">TEAM</a>
                </li>
                <li>
                    <a href="#">ALL</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 footer-left left-footer">
        <h4>Links</h4>
        <div class="run-top top-run">
            <ul class="run-grid">
                <li>
                    <a href="/delegation/all">Delegations</a>
                </li>
                <li>
                    <a href="/sport/all">Sports</a>
                </li>
                <li>
                    <a href="/medal">Medal Standings</a>
                </li>
            </ul>
            <ul class="run-grid">
                <li>
                    <a href="/participants">Browse Teams & Athletes</a>
                </li>
                <li>
                    <a href="/admin/login">Management</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1 footer-left left-footer">
    </div>
    <div class="col-md-5 footer-left left-footer">

        <div class="letter">
            <h5>Note</h5>
            <span>This is an assignment for "JSP And Servlet Tech." course.
                All photos used in this site is only for demo purpose, whose copyrights belong to their origin owners.
            </span>
            <p>Li Lingen(#20165254), Chang Chenming(#20164969), Sun Ningyuan(#20165316), Huang Yan(#20165252)</p>
            <p class="footer-class"> © 2018 Li L. Chang C. Sun N. Huang Y. | NEU(China) Software College.
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
