<!--footer partial module-->
<div class="footer">
    <div class="col-md-3 footer-left">
        <h4>Competitions</h4>
        <div class="run-top">
            <ul class="run-grid">
                <li>
                    <a href="product.html">RUNNING</a>
                </li>
                <li>
                    <a href="product.html">CYCLING</a>
                </li>
                <li>
                    <a href="product.html">TRIATHLON</a>
                </li>
                <li>
                    <a href="product.html">MORE SPORTS</a>
                </li>
            </ul>
            <ul class="run-grid">
                <li>
                    <a href="product.html">INDIVIDUAL</a>
                </li>
                <li>
                    <a href="product.html">TEAM</a>
                </li>
                <li>
                    <a href="product.html">ALL</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-3 footer-left left-footer">
        <h4>Links</h4>
        <div class="run-top top-run">
            <ul class="run-grid">
                <li>
                    <a href="">Delegations</a>
                </li>
                <li>
                    <a href="#">Medal Standings</a>
                </li>
                <li>
                    <a href="#">Competition Schedule</a>
                </li>
            </ul>
            <ul class="run-grid">
                <li>
                    <a href="#">Clubs and Training</a>
                </li>
                <li>
                    <a href="contact.html">Event Map</a>
                </li>
                <li>
                    <a href="#">Challenge the world</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1 footer-left left-footer">

    </div>
    <div class="col-md-5 footer-left left-footer">

        <div class="letter">
            <h5>Note</h5>
            <span>This is an assignment for "JSP And Servlet Tech." course.
                All photos used in this site is only for demo purpose, whose copyrights belong to their origin owners.
            </span>
            <p>Li Lingen(#20165254), Chang Chenming(#20164969), Sun Ningyuan(#20165316), Huang Yan(#20165252)</p>
            <p class="footer-class"> © 2018 Li L. Chang C. Sun N. Huang Y. | NEU(China) Software College.
            </p>
        </div>

    </div>
    <div class="clearfix"></div>
</div>