<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header::common_header(~{::title},~{},~{})">
    <title>Olympic NEU</title>
</head>
<body class="mdui-theme-primary-blue">
<!--header-->
<div th:replace="header::header"></div>
<!---->
<div class="banner">
    <div class="container">
        <div class="banner-matter">
            <h1>Olympic NEU
                <span>brings the world together</span></h1>
            <div class="out">
                <a class="btn-dark" onclick="scrollToCompetition()">FIND OUT MORE </a>
                <a href="#" class="btn-blue">Detail</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="content">
    <!--competition panel-->
    <div class="sport-your">
        <!-- requried-jsfiles-for owl -->
        <link href="/static/css/owl.carousel.css" rel="stylesheet">
        <script src="/static/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $("#sports-panel").owlCarousel({
                    items: 5,
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,
                    navigationText: true,
                    pagination: false
                });
            });
        </script>
        <!-- //requried-jsfiles-for owl -->

        <!-- start content_slider -->
        <div class="line1">
        </div>
        <div id="competitions">
            <div id="sports-panel" class="owl-carousel text-center">
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>FITNESS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>WEIGHTLIFTING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/sport/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h6 class="vertical-slider-title">Competitions</h6>
        <div class="line2">
        </div>
    </div>
    <!--//screen-gallery-cursual---->
    <div class="mdui-container-fluid" style="margin: 0 6%">
        <div class="single mdui-row">
            <div class="mdui-col-sm-12 mdui-col-md-8 mdui-row">
                <div class="mdui-card mdui-shadow-0">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">
                            <i class="mdui-icon material-icons">directions_run</i> Recent Competitions
                        </div>
                        <div class="mdui-card-content mdui-row">
                            <div th:each="comp:${competitions}" class="mdui-col-sm-6 mdui-col-md-4">
                                <div class="mdui-card mdui-shadow-0 mdui-ripple" th:onclick="'location.href=\'/competition/'+${comp.id}+'\''">
                                    <div class="mdui-card-media">
                                        <img th:src="@{|/static/images/photos/${comp.type.pictureUrl}.jpg|}"/>
                                    </div>
                                    <div class="mdui-card-primary">
                                        <div th:text="${comp.name}" class="mdui-card-primary-title"></div>
                                        <div th:text="${comp.time}" class="mdui-card-primary-subtitle"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-col-sm-12 mdui-col-md-4">
                <div class="mdui-card mdui-shadow-0">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">
                            <i class="mdui-icon material-icons">format_list_numbered</i> Rank by countries
                        </div>
                    </div>
                    <div class="mdui-card-content">
                        <ul class="mdui-list">
                            <li th:each="delegation,index:${rank}"
                                class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar">
                                    <img th:src="@{|/static/images/flags/Flag%20of%20${delegation.name}.png|}"/>
                                </div>
                                <a th:href="@{|/delegation/${delegation.id}|}" th:text="${delegation.name}" class="mdui-list-item-content"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-bottom" style="background-color: #1a1a1a">
        <div class="mdui-col-md-8 bottom-content">
            <script src="/static/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: false,
                        nav: true,
                    });
                });
            </script>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="/static/images/photos/1.jpg" alt="">

                        </li>
                        <li>
                            <img src="/static/images/photos/2.jpg" alt="">

                        </li>
                    </ul>
                </div>
                <div class="london">
                    <h5>Olympic Highlight</h5>
                    <p>Fansy capture of this olympic games</p>
                </div>
            </div>

        </div>
        <div class="mdui-col-md-4 bottom-grid">
            <h4>Latest Sport News</h4>
            <div class="news">
                <span>25/07</span>
                <p>Olympic new content here... This is a sample data of olympic news. </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>3</span></li>
                        <li><a href="#"><i class="comment"> </i> 1</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Olympic new content here... This is a sample data of olympic news. </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>10</span></li>
                        <li><a href="#"><i class="comment"> </i> 0</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Olympic new content here... This is a sample data of olympic news. </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>1</span></li>
                        <li><a href="#"><i class="comment"> </i> 0</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button href="#" class="mdui-btn mdui-color-theme mdui-btn-raised">view all articles</button>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---->
    <div class="container">
        <p></p>
        <div class="mdui-card mdui-shadow-0">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">Other Olympic Websites</div>
            </div>
            <div class="mdui-card-content mdui-container">
                <div class="mdui-row">
                    <div class="mdui-col-xs-12 mdui-col-sm-3 mdui-col-md-3">
                        <a href="#">
                            <img class="img-responsive " src="/static/images/banners/banner_pyeongchang.png" alt="">
                        </a>
                    </div>
                    <div class="mdui-col-xs-12 mdui-col-sm-3 mdui-col-md-3">
                        <a href="#">
                            <img class="img-responsive " src="/static/images/banners/banner_tokyo.png" alt="">
                        </a>
                    </div>
                    <div class="mdui-col-xs-12 mdui-col-sm-3 mdui-col-md-3">
                        <a href="#">
                            <img class="img-responsive " src="/static/images/banners/banner_beijing.png" alt="">
                        </a>
                    </div>
                    <div class="mdui-col-xs-12 mdui-col-sm-3 mdui-col-md-3">
                        <a href="#">
                            <img class="img-responsive " src="/static/images/banners/banner_paris.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    </div>

</div>
<!--footer-->
<div th:replace="footer::footer"></div>
<script src="/static/js/olympic.ui-loader.js">
</script>
<script>
    function scrollToCompetition() {
        var body = $('body');
        body.animate({
            scrollTop: $('#competitions').offset().top - body.offset().top + body.scrollTop()
        }, 1000);
    }

</script>
</body>
</html>