<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Olympic NEU</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar () {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/static/js/template-web.js"></script>
</head>

<body>
<!--header-->
<div id="header"></div>

<!---->
<div class="banner">
    <div class="container">
        <div class="banner-matter">
            <h1>Olympic 2098
                <span>brings the world together</span></h1>
            <div class="out">
                <a class="btn-dark" onclick="scrollToCompetition()">FIND OUT MORE </a>
                <a href="#" class="btn-blue">Detail</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="content">
    <!--competition panel-->
    <div class="sport-your">
        <!-- requried-jsfiles-for owl -->
        <link href="/static/css/owl.carousel.css" rel="stylesheet">
        <script src="/static/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $("#sports-panel").owlCarousel({
                    items: 5,
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,
                    navigationText: true,
                    pagination: false
                });
            });
        </script>
        <!-- //requried-jsfiles-for owl -->

        <!-- start content_slider -->
        <div class="line1">

        </div>
        <div id="competitions">
            <div id="sports-panel" class="owl-carousel text-center">
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>FITNESS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>WEIGHTLIFTING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/competition/all" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h6 class="your-in">Competitions</h6>
        <div class="line2">
        </div>
    </div>
    <!--//sreen-gallery-cursual---->
    <div class="mdui-container-fluid" style="margin: 0 6%">
        <div class="single mdui-row ">
            <div class="mdui-col-sm-12 mdui-col-md-8 mdui-row">
                <p></p>
                <h3>Recent Competitions</h3>
                <p></p>

                <div th:each="comp : ${re}" class="mdui-col-sm-4 mdui-col-md-3">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="/static/images/competition/curling-photo.jpg"/>
                        </div>
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">Men's 100m</div>
                            <div class="mdui-card-primary-subtitle">6/26 10:00</div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">Trace on it</button>
                            <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mdui-col-md-1"></div>
            <div class="mdui-col-sm-12 mdui-col-md-3">
                <p></p>
                <h3>Rank by countries</h3>
                <p></p>
                <div class="mdui-card">
                    <div class="mdui-card-content">
                        <ul class="mdui-list">
                            <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img
                                        src="/static/images/flags/Flag%20of%20United%20States%20of%20America.png"/>
                                </div>
                                <div class="mdui-list-item-content"> United States</div>
                            </li>
                            <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img
                                        src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/>
                                </div>
                                <div class="mdui-list-item-content">China</div>
                            </li>
                            <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img
                                        src="/static/images/flags/Flag%20of%20Japan.png"/></div>
                                <div class="mdui-list-item-content">Japan</div>
                            </li>
                            <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img
                                        src="/static/images/flags/Flag%20of%20South%20Korea.png"/></div>
                                <div class="mdui-list-item-content">South Korea</div>
                            </li>
                            <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img
                                        src="/static/images/flags/Flag%20of%20United%20Kingdom.png"/></div>
                                <div class="mdui-list-item-content">United Kingdom</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
            <h5 style="text-align: center; alignment: center">
                <a href="competition-all.html" class="btn-red">All Competitions...</a>
            </h5>
        </div>
    </div>
    <div class="content-bottom" style="background-color: #1a1a1a">
        <div class="mdui-col-md-8 bottom-content">
            <script src="/static/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: false,
                        nav: true,
                    });
                });
            </script>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="/static/images/photos/1.jpg" alt="">

                        </li>
                        <li>
                            <img src="/static/images/photos/2.jpg" alt="">

                        </li>
                        <li>
                            <img src="/static/images/vi.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="london">
                    <h5>Olympic Highlight</h5>
                    <p>Fansy capture of this olympic games</p>
                </div>
            </div>

        </div>
        <div class="mdui-col-md-4 bottom-grid">
            <h4>Latest Sport News</h4>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <a href="#" class="mdui-btn mdui-color-theme mdui-btn-raised">view all articles</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---->
    <div class="content-grids">
        <h3>Other Olympic Websites</h3>
        <div class="clearfix"></div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_pyeongchang.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_tokyo.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_beijing.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_paris.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_buenos_aires.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_lausanne.png" alt="">
            </a>
        </div>
        <div class="mdui-col-xs-4 mdui-col-sm-3 mdui-col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/olympic_org.png" alt="">
            </a>
        </div>

        <div class="clearfix"></div>
    </div>

</div>
<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js">
</script>
<script>
    function scrollToCompetition () {
        var body = $('body');
        body.animate({
            scrollTop: $('#competitions').offset().top - body.offset().top + body.scrollTop()
        }, 1000);
    }

</script>
</body>
</html>