<!DOCTYPE html>
<html>
<head>
    <title>Olympic Online</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/static/js/template-web.js"></script>
</head>

<body>
<!--header-->
<div id="header"></div>

<!---->
<div class="banner">
    <div class="container">
        <div class="banner-matter">
            <h1>Olympic 2098
                <span>brings world together</span></h1>
            <div class="out">
                <a class="btn-dark" onclick="scrollToCompetition()">FIND OUT MORE </a>
                <a href="single.html" class="btn-blue">Detail</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="content">
    <!--competition panel-->
    <div class="sport-your">
        <!-- requried-jsfiles-for owl -->
        <link href="/static/css/owl.carousel.css" rel="stylesheet">
        <script src="/static/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $("#sports-panel").owlCarousel({
                    items: 5,
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,
                    navigationText: true,
                    pagination: false
                });
            });
        </script>
        <!-- //requried-jsfiles-for owl -->

        <!-- start content_slider -->
        <div class="line1">

        </div>
        <div id="competitions">
            <div id="sports-panel" class="owl-carousel text-center">
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>FITNESS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic1.jpg" alt="">
                        <div class="run">
                            <i class="foot-in"> </i>
                            <p>FOOTBALL</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic2.jpg" alt="">
                        <div class="run">
                            <i class="cycling"> </i>
                            <p>CYCLING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic3.jpg" alt="">
                        <div class="run">
                            <i class="fitness"> </i>
                            <p>WEIGHTLIFTING</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic4.jpg" alt="">
                        <div class="run">
                            <i class="tennis"> </i>
                            <p>TENNIS</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="single.html" title="image" rel="title1">
                        <img class="img-responsive " src="/static/images/pic.jpg" alt="">
                        <div class="run">
                            <i> </i>
                            <p>RUNNING</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h6 class="your-in">Competitions</h6>
        <div class="line2">
        </div>
    </div>
    <!--//sreen-gallery-cursual---->

    <div class="content-grids">
        <div class="col-sm-12 col-md-8">
            <h3>Recent Competitions</h3>
            <p></p>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u26.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/25 18:00</p>
                    <label>Table Tennis</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u4.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/26 10:00</p>
                    <label>Men's 100m</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u20.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/26 11:00</p>
                    <label>Kendo</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u26.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/25 18:00</p>
                    <label>Table Tennis</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u4.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/25 18:00</p>
                    <label>Men's 100m</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 col-md-3 content-grid">
                <a href="single.html" class="lot">
                    <img class="img-responsive " src="/static/images/sports/u20.png" alt="">
                </a>
                <div class="big-item">
                    <p>6/25 18:00</p>
                    <label>Kendo</label>
                    <a href="single.html">Trace on the competition</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="single-bottom">
                <h3>Rank by country</h3>
                <ul>
                    <li>
                        <img class="flag-small" src="/static/images/flags/Flag%20of%20Japan.png">
                        <a href="#"><span></span> Japan</a>
                    </li>
                    <li>
                        <img class="flag-small" src="/static/images/flags/Flag%20of%20South%20Korea.png">
                        <a href="#"><span></span> South Korea</a>
                    </li>
                    <li>
                        <img class="flag-small" src="/static/images/flags/Flag%20of%20United%20Kingdom.png">
                        <a href="#"><span></span> United Kongdom</a>
                    </li>
                    <li>
                        <img class="flag-small" src="/static/images/flags/Flag%20of%20United%20States.png">
                        <a href="#"><span></span> United States</a>
                    </li>
                    <li>
                        <img class="flag-small"
                             src="/static/images/flags/Flag%20of%20Chinese%20Taipei.png">
                        <a href="#"><span></span> Chinese Taipei</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
        <h5 style="text-align: center; alignment: center">
            <a href="competition-all.html" class="btn-red">All Competitions...</a>
        </h5>
    </div>
    <div class="content-bottom" style="background-color: #1a1a1a">
        <div class="col-md-8 bottom-content">
            <script src="/static/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: false,
                        nav: true,
                    });
                });
            </script>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="/static/images/photos/1.jpg" alt="">

                        </li>
                        <li>
                            <img src="/static/images/photos/2.jpg" alt="">

                        </li>
                        <li>
                            <img src="/static/images/vi.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="london">
                    <h5>Olympic Highlight</h5>
                    <p>Fansy capture of this olympic games</p>
                </div>
            </div>

        </div>
        <div class="col-md-4 bottom-grid">
            <h4>Latest Sport News</h4>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="news">
                <span>25/07</span>
                <p>Sporting wonders have come so thick and fast since last summer that we decided it... time </p>
                <div class="foot">
                    <label>football</label>
                    <ul class="eye ">
                        <li><span><i> </i>315</span></li>
                        <li><a href="#"><i class="comment"> </i> 3</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <a href="#" class="view">view all articles</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---->
    <div class="content-grids">
        <h3>Other Olympic Websites</h3>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_pyeongchang.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_tokyo.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_beijing.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_paris.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_buenos_aires.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/banner_lausanne.png" alt="">
            </a>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 top-content">
            <a href="#">
                <img class="img-responsive " src="/static/images/banners/olympic_org.png" alt="">
            </a>
        </div>

        <div class="clearfix"></div>
    </div>

</div>
<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js">
</script>
<script>
    function scrollToCompetition() {
        var body = $('body');
        body.animate({
            scrollTop: $('#competitions').offset().top - body.offset().top + body.scrollTop()
        }, 1000);
    }

</script>
</body>
</html>