<!DOCTYPE html>
<html>
<head>
    <title>Sport A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Sport Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link rel="stylesheet" href="/static/css/etalage.css">
    <script src="/static/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">

    <div class="single">
        <div>
            <h3>Medals Standing</h3>
            <table id="medals">
                <thead>
                <tr>
                    <th>
                        Country/Region
                    </th>
                    <th>
                        <img src="/static/images/gold.png"/>Golden
                    </th>
                    <th>
                        <img src="/static/images/silver.png"/>Silver
                    </th>
                    <th>
                        <img src="/static/images/bronze.png"/>Bronze
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20States.png" alt="">
                        <strong>United States</a></strong>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a href="#">
                            2</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u2.png" alt="">
                        <strong><a href="../../en/biathlon/daily-schedule.htm">Biathlon</a></strong>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a href="#">
                            2</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u3.png" alt="">
                        <strong><a href="../../en/bobsleigh/daily-schedule.htm">Bobsleigh</a></strong>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        <a href="../../en/bobsleigh/sport-and-noc-entries-by-event-china.htm">
                            5</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u4.png" alt="">
                        <strong><a href="../../en/cross-country-skiing/daily-schedule.htm">Cross-Country
                            Skiing</a></strong>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        <a href="../../en/cross-country-skiing/sport-and-noc-entries-by-event-china.htm">
                            4</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u5.png" alt="">
                        <strong><a href="../../en/curling/daily-schedule.htm">Curling</a></strong>
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a href="../../en/curling/sport-and-noc-entries-by-event-china.htm">
                            7</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u6.png" alt="">
                        <strong><a href="../../en/figure-skating/daily-schedule.htm">Figure Skating</a></strong>
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        <a href="../../en/figure-skating/sport-and-noc-entries-by-event-china.htm">
                            11</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u7.png" alt="">
                        <strong><a href="../../en/freestyle-skiing/daily-schedule.htm">Freestyle Skiing</a></strong>
                    </td>
                    <td>
                        9
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        <a href="../../en/freestyle-skiing/sport-and-noc-entries-by-event-china.htm">
                            15</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u8.png" alt="">
                        <strong><a href="../../en/short-track-speed-skating/daily-schedule.htm">Short Track Speed
                            Skating</a></strong>
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        <a href="../../en/short-track-speed-skating/sport-and-noc-entries-by-event-china.htm">
                            10</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/sports/u9.png" alt="">
                        <strong><a href="../../en/skeleton/daily-schedule.htm">Skeleton</a></strong>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <a href="../../en/skeleton/sport-and-noc-entries-by-event-china.htm">
                            1</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img role="presentation" aria-hidden="true" style="vertical-align:middle;" alt=""
                             src="../../resOWG2018/img/sports/SJP.png">
                        <strong><a href="../../en/ski-jumping/daily-schedule.htm">Ski Jumping</a></strong>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a href="../../en/ski-jumping/sport-and-noc-entries-by-event-china.htm">
                            1</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img role="presentation" aria-hidden="true" style="vertical-align:middle;" alt=""
                             src="../../resOWG2018/img/sports/SBD.png">
                        <strong><a href="../../en/snowboard/daily-schedule.htm">Snowboard</a></strong>
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        <a href="../../en/snowboard/sport-and-noc-entries-by-event-china.htm">
                            9</a>
                    </td>
                </tr>
                <tr class="Res2">
                    <td>
                        <img role="presentation" aria-hidden="true" style="vertical-align:middle;" alt=""
                             src="../../resOWG2018/img/sports/SSK.png">
                        <strong><a href="../../en/speed-skating/daily-schedule.htm">Speed Skating</a></strong>
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        <a href="../../en/speed-skating/sport-and-noc-entries-by-event-china.htm">
                            13</a>
                    </td>
                </tr>
                <tr class="MedalStd1">
                    <td>
                        <b>Total</b>
                    </td>
                    <td>
                        46
                    </td>
                    <td>
                        34
                    </td>
                    <td>
                        <b>80</b>
                    </td>
                    <!-- <td>
                        &nbsp;
                    </td> -->
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#medals').DataTable();
    });
</script>
</body>
</html>