<!DOCTYPE html>
<html>
<head>
    <title>Medals</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link rel="stylesheet" href="/static/css/etalage.css">
    <script src="/static/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<div class="title-banner" style="background: url('/static/images/photos/flags.jpg')">
    <div class="big-title">
        <h1>Medals</h1>
    </div>
</div>
<!---->
<div class="container">

    <div class="single">
        <div>
            <h3>Medals Standing</h3>
            <table id="medals">
                <thead>
                <tr>
                    <th>
                        Country/Region
                    </th>
                    <th>
                        <img src="/static/images/gold.png"/>Golden
                    </th>
                    <th>
                        <img src="/static/images/silver.png"/>Silver
                    </th>
                    <th>
                        <img src="/static/images/bronze.png"/>Bronze
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20United%20States%20of%20America.png" alt="">
                        <strong><a>United States</a></strong>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20United%20Kingdom.png" alt="">
                        <strong><a>United Kingdom</a></strong></td>
                    <td>
                        2
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall"
                             src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png" alt="">
                        <strong><a>People's Republic of China</a></strong></td>
                    <td>
                        0
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        5
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Chinese%20Taipei.png" alt="">
                        <strong><a>Chinese Taipei</a></strong></td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Japan.png" alt="">
                        <strong><a>Japan</a></strong></td>
                    <td>
                        0
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#medals').DataTable();
    });
</script>
</body>
</html>