<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{::link},~{})">
    <title>Medals</title>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div th:replace="header::header"></div>
<div class="title-banner" style="background: url('/static/images/photos/flags.jpg')">
    <div class="big-title">
        <p>Medals</p>
    </div>
</div>
<!---->
<div class="container">
    <div class="single">
        <div>
            <h3>Medals Standing</h3>
            <table id="medals">
                <thead>
                <tr>
                    <th>
                        Rank
                    </th>
                    <th>
                        Country/Region
                    </th>
                    <th>
                        <img src="/static/images/gold.png"/>Golden
                    </th>
                    <th>
                        <img src="/static/images/silver.png"/>Silver
                    </th>
                    <th>
                        <img src="/static/images/bronze.png"/>Bronze
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="delegation,index:${rank}">
                    <td>
                        <strong th:text="${index.index}+1">INDEX</strong>
                    </td>
                    <td>
                        <img class="flag-small"
                             th:src="@{|/static/images/flags/Flag%20of%20${delegation.name}.png|}" th:alt="${delegation.name}">
                        <strong>
                            <a th:src="'/delegation/'+${delegation.id}" th:text="${delegation.name}">DELEGATION_NAME</a>
                        </strong>
                    </td>
                    <td th:text="${delegation.gold}">
                        GOLD_COUNT
                    </td>
                    <td th:text="${delegation.silver}">
                        SILVER_COUNT
                    </td>
                    <td th:text="${delegation.bronze}">
                        BROZEN_COUNT
                    </td>
                    <td th:text="${delegation.gold}+${delegation.silver}+${delegation.bronze}">
                        TOTAL_COUNT
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!---->
<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#medals').DataTable();
    });
</script>
</body>
</html>