<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{},~{})">
    <title>Participant Athletes/Teams</title>
</head>
<body class="mdui-theme-primary-blue">
<!--header-->
<div th:replace="header::header"></div>
<div class="title-banner" style="background: url('/static/images/photos/flags.jpg')">
    <div class="big-title">
        <p>Browse Participants (Athletes/Teams)</p>
    </div>
</div>
<div class="line1"></div>
<!---->
<br/>
<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-12 mdui-col-sm-5 mdui-col-md-4 com-lg-3">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">filter_list</i> Filter</div>
                    <div class="mdui-card-primary-subtitle">Options for search</div>
                </div>
                <div class="mdui-card-content">
                    <div>
                        <label for="option-participant-type">Athlete or Team</label><br/>
                        <select id="option-participant-type" class="mdui-select" mdui-select
                                data-placeholder="Choose a Type">
                            <option value="athlete">Athlete</option>
                            <option value="team">Team</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="option-country">Nations / Regions</label><br/>
                        <select id="option-country" class="mdui-select" mdui-select data-placeholder="Choose a Country">
                            <option value="-1">Any</option>
                            <option th:each="delegation:${delegations}" th:value="${delegation.id}"
                                    th:text="${delegation.name}"></option>
                        </select>
                    </div>
                    <div class="">
                        <label for="option-sport">Sport/Competition Type</label><br/>
                        <select id="option-sport" class="mdui-select" mdui-select data-placeholder="Choose a Type">
                            <option value="-1">Any</option>
                            <option th:each="sport:${sports}" th:value="${sport.id}"
                                    th:text="${sport.typeName}"></option>

                        </select>
                    </div>
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">Team/Athlete Name</label>
                        <input id="option-name" class="mdui-textfield-input" type="text"/>
                    </div>
                </div>

                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-ripple" onclick="searchParticipants()">Search</button>
                    <button class="mdui-btn mdui-btn-icon mdui-float-right"><i
                            class="mdui-icon material-icons">expand_more</i></button>
                </div>

            </div>
        </div>
        <div class="mdui-col-xs-12 mdui-col-sm-7 mdui-col-md-8 com-lg-9">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title"><i class="mdui-icon material-icons">people_outline</i> Result</div>
                    <div class="mdui-card-primary-subtitle">Options for search</div>
                </div>
                <div class="mdui-card-content" id="result-grid">
                    <h4><i class="mdui-icon material-icons">search</i> Serach athletes or teams with options on the left side.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<br/>
<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/chosen.jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#schedule').DataTable();
        $('#events').DataTable();
        $('.chosen-select').chosen();
    });

    var athlete_template = '<div class="mdui-col-md-4">\n' +
        '                        <a href="/athlete/__ID__" class="lot">\n' +
        '                            <img class="img-responsive" src="/static/images/persons/__PHOTO__" alt="">\n' +
        '                        </a>\n' +
        '                        <div class="big-item">\n' +
        '                            <p><img class="flag-xsmall"\n' +
        '                                    src="/static/images/flags/Flag%20of%20__DELEGATION_NAME__.png"/> China</p>\n' +
        '                            <label>__NAME__</label>\n' +
        '                        </div>\n' +
        '                        <div class="clearfix"></div>\n' +
        '                    </div>';


    function searchParticipants() {
        $.ajax({
            url: '/search',
            type: 'post',
            dataType: 'json',
            data: {
                type: $('#option-participant-type').val(),
                delegation: $('#option-country').val(),
                sport: $('#option-sport').val(),
                name: $('#option-name').val()
            },
            success: function (data) {
                if (data['code'] === '100') {
                    var result_grid = $('#result-grid');
                    result_grid.fadeOut(50);
                    result_grid.html("");
                    for (var i = 0; i < data['data']['list'].length; i++) {
                        result_grid.append(
                            compileTemplate(athlete_template,
                                {
                                    ID: data['data']['list'][i]['id'],
                                    NAME: data['data']['list'][i]['name'],
                                    PHOTO: data['data']['list'][i]['photo'],
                                    DELEGATION_NAME: data['data']['list'][i]['delegations']['name'],
                                    DELEGATION_ID:  data['data']['list'][i]['delegations']['id']
                                })
                        );
                    }
                    result_grid.fadeIn(250);
                }

            }
        })
    }
</script>
</body>
</html>