<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Session</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--//tab style-->
    <link rel="stylesheet" href="/static/css/olympic.tab.css">


</head>
<body>
<!--header-->
<div id="header"></div>
<div class="title-banner" style="background: url('/static/images/photos/Curling.jpg')">
    <div class="big-title">
        <p th:text="${session.name} +' - '+ ${session.type.typeName}">SESSION_NAME_TITLE</p>
    </div>
</div>
<div class="line1"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="flag-big" th:src="@{|/static/images/sports/${session.type.logoUrl}|}"/>
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <label class="add-to"></label>
                    <p th:text="${session.type.description}">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Olympic Competitions</h4>
                <ul>
                    <li>
                        <img class="flag-xsmall" src="/static/images/sports/2.png">
                        <a href="#"><span></span> Ice Hockey</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/sports/3.png">
                        <a href="#"><span></span> Short Track Speed Skating</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-12">
            <div class="tab" role="tabpanel">
                <!--@LLG: Competition Nav Tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                              data-toggle="tab">Participants</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Session
                        Rank</a></li>

                </ul>
                <!-- Competition Tab Panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <div class="container" id="competition-type-list">
                            <h3>Session Participants</h3><br/>

                                <div class="mdui-card-content">
                                    <div class="mdui-col-md-4">
                                        <a href="/athlete/1" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/1.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>JIA Zongyang</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mdui-col-md-4">
                                        <a href="#" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/2.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>ZHANG Xin</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mdui-col-md-4">
                                        <a href="#" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>WU Dajing</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mdui-col-md-4">
                                        <a href="#" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>WU Dajing</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mdui-col-md-4">
                                        <a href="#" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>WU Dajing</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mdui-col-md-4 content-grid">
                                        <a href="#" class="lot">
                                            <img class="img-responsive" src="/static/images/persons/3.jpg" alt="">
                                        </a>
                                        <div class="big-item">
                                            <p><img class="flag-xsmall"
                                                    src="/static/images/flags/Flag%20of%20People's%20Republic%20of%20China.png"/> China</p>
                                            <label>WU Dajing</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div class="container">
                            <h3>Session Result</h3>
                            <div class="single">
                                <div class="mdui-container">
                                    <table id="session-result">
                                        <thead>
                                        <tr>
                                            <th>
                                                Rank
                                            </th>
                                            <th>
                                                Participant
                                            </th>
                                            <th>
                                                Result
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="competition-status-table">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#session-result').DataTable();
    });
</script>
p
</body>
</html>