<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-header :: common_header(~{::title},~{::link},~{})">
    <title>Competition - Curling</title>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--header-->
<div th:replace="header::header"></div>
<div class="competition-type-banner"
     th:style="'background: url(/static/images/photos/'+${sport.pictureUrl}+'.jpg)'">
    <div class="mdui-container-fluid bg-transparent-dark">
        <div class="mdui-container">
            <div class="col-md-9 top-in-single">
                <div class="big-title-transparent">
                    <p th:text="${sport.typeName}">competition type (sport) name</p>
                </div>
                <div class="col-md-2">
                    <p>
                        <img style="text-align: center" class="img-responsive flag-medium" th:src="@{|/static/images/sports/${sport.logoUrl}}"/>
                    </p>
                </div>
                <div class="col-md-10">
                    <div class="single-para">
                        <label class="add-to">Introduction</label>
                        <p th:text="${sport.description}">
                            SPORT_DESC
                        </p>
                        <br/><br>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="line1"></div>
<!---->
<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div class="mdui-card mdui-col-md-9">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">Competition Session Scheduling</div>
                <div class="mdui-card-primary-subtitle">All sessions of this type of sport</div>
            </div>
            <div class="mdui-card-content">
                <table id="Daily-Scheduling">
                    <thead>
                    <tr>
                        <th>
                            Event
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            Location
                        </th>

                        <th>
                            Status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="compSession:${competitions}">
                        <td>
                            <a th:text="${compSession.name}" th:href="@{|/competition/${compSession.id}|}">EVENT_NAME</a>
                        </td>
                        <td th:text="${compSession.time}">
                            TIME
                        </td>
                        <td th:text="${compSession.place}">
                            PLACE / LOCATION
                        </td>
                        <td th:text="${compSession.situation}==0?'Pending':(${compSession.situation}==1?'In Progress':'Finished')">
                            STATUS
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mdui-card mdui-col-md-3 mdui-shadow-0">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">Other Olympic Competitions</div>
            </div>
            <div class="mdui-card-content">
                <ul class="mdui-list">
                    <li class="mdui-list-item">
                        <img class="flag-xsmall" src="/static/images/sports/2.png">
                        <a href="#"><span></span> Ice Hockey</a>
                    </li>
                    <li class="mdui-list-item">
                        <img class="flag-xsmall" src="/static/images/sports/3.png">
                        <a href="#"><span></span> Short Track Speed Skating</a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Daily-Scheduling').DataTable();
    });
</script>
p
</body>
</html>