<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Sport A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css"  rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Sport Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link rel="stylesheet" href="/static/css/etalage.css">
    <script src="/static/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <h2>Curling</h2>
                <img class="flag-big" src="/static/images/flags/Flag%20of%20China.png"/>
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2>People's Republic of China</h2>
                    -Woman
                    <div class="clearfix"></div>
                    <label class="add-to"></label>
                    <p>
                        The Chinese women's curling team was founded in 2003. Although the establishment
                        time was short, the Chinese curling girls were among the top teams in the world
                        in only 5 or 6 years. In 2007, the Chinese team hired Canadian foreign teacher
                        Daniel. The Chinese women's curling performance can be described as rapid progress.
                        In the Women's Curling World Championships in 2008, the Chinese girls won the
                        runner-up, and on March 25, 2009, they won the World Championship of Women's World
                        Curling Championship and won the World Cup Vancouver 2010.Bronze medals, with a
                        historical breakthrough in this department,they eventually won the 2009 Best Team
                        Award for Sportsman of the Year Awarded by China Central Television.
                        <a href="#" class="cart ">More from Wiki</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Teams of This Country</h4>
                <ul>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20China.png">
                        <a href="#"><span></span> Ice Hockey</a>
                    </li>
                    <li>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20China.png">
                        <a href="#"><span></span> Short Track Speed Skating</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single">
        <div>
            <h3>Team Member</h3>
            <table id="Team_Member_Detail">
                <thead>
                <tr>
                    <th>
                        Name</th>

                    <th>
                        Birth Date</th>
                </tr>

                </thead>
                <tbody>

                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/persons/4.jpg" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">WANG Bingyu</a></strong>
                    </td>
                    <td>
                        07 Jul 1984</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/persons/5.jpg" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">ZHOU Yan</a></strong>
                    </td>
                    <td>
                        30 Sep 1982</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/persons/6.jpg" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">LIU Jinli</a></strong>
                    </td>
                    <td>
                        16 Mar 1989</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/persons/7.jpg" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">MA Jingyi</a></strong>
                    </td>
                    <td>
                        29 Oct 1995</td>
                </tr>
                <tr>
                    <td>
                        <img class="flag-small" src="/static/images/persons/8.jpg" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">JIANG Xindi</a></strong>
                    </td>
                    <td>
                        26 Jan 1997</td>
                </tr>
                </tbody>
            </table>
        </div>
       <br/>
        <br/>
        <br/>
        <div>
            <h3>Scheduling</h3>
            <table id="Scheduling_Detail">
                <thead>
                <tr>
                    <th>
                        Start Time</th>

                    <th>
                        Event</th>

                    <th>
                        Result
                    </th>

                    <th>
                        Status
                    </th>
                </tr>

                </thead>
                <tbody>

                <tr>
                    <td>
                    Wed,14 Feb<br/>
                    14:05
                </td>

                    <td>
                        <h4>Woman Round Robin Session 1</h4>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Switzerland.png" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">SUI</a></strong><br/>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20China.png" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">CHN</a></strong>
                    </td>
                    <td>
                        2<br/>7</td>
                    <td>
                        Finished
                    </td>
                </tr>
                <tr>
                    <td>
                        Thu,15 Feb<br/>
                        9:05
                    </td>

                    <td>
                        <h4>Woman Round Robin Session 2</h4>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20Russia.png" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">RUS</a></strong><br/>
                        <img class="flag-xsmall" src="/static/images/flags/Flag%20of%20China.png" alt="">
                        <strong><a href="../../en/alpine-skiing/daily-schedule.htm">CHN</a></strong>
                    </td>
                    <td>
                        7<br/>6</td>
                    <td>
                        Finished
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic-ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#Team_Member_Detail').DataTable();
    } );
    $(document).ready(function() {
        $('#Scheduling_Detail').DataTable();
    } );
</script>p
</body>
</html>