<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/olympic.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Olympic Games, Sports"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

</head>
<body>
<!--header-->
<div id="header"></div>
<!---->
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-3 single-top">
                <img class="flag-big" th:src="@{|/static/images/flags/Flag%20of%20${team.delegations.name}.png|}"/>
            </div>
            <div class="col-md-9 single-top-in">
                <div class="single-para">
                    <h2 th:text="${team.name}">China Women's Curling Team</h2>
                    <h4 th:text="${team.delegations.name}"> People's Republic of China</h4>
                    <div th:switch="${team.sex}">
                        <h4 th:case="'F'">Women</h4>
                        <h4 th:case="'M'">Men</h4>
                        <h4 th:case="'X'">Mixed</h4>
                    </div>
                    <div class="clearfix"></div>
                    <label class="add-to"></label>
                    <p th:text="${team.description}">
                        The Chinese women's curling team was founded in 2003. Although the establishment
                        time was short, the Chinese curling girls were among the top teams in the world
                        in only 5 or 6 years. In 2007, the Chinese team hired Canadian foreign teacher
                        Daniel. The Chinese women's curling performance can be described as rapid progress.
                        In the Women's Curling World Championships in 2008, the Chinese girls won the
                        runner-up, and on March 25, 2009, they won the World Championship of Women's World
                        Curling Championship and won the World Cup Vancouver 2010.Bronze medals, with a
                        historical breakthrough in this department,they eventually won the 2009 Best Team
                        Award for Sportsman of the Year Awarded by China Central Television.
                        <a href="#" class="cart ">More from Wiki</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Other Teams of This Country</h4>
                <ul th:each="otherTeam:${teamList}">
                    <li>
                        <img class="flag-xsmall" th:src="@{|/static/images/flags/Flag%20of%20${otherTeam.delegations.name}.png|}"/>
                        <a href="/team/2"
                           th:href="@{|/team/${otherTeam.id}|}"
                           th:text="${otherTeam.name}"}>
                        Ice Hockey</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="single">
        <div>
            <h3>Team Member</h3>
            <table id="Team_Member_Detail">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Birth Date
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="individual,index:${individuals}">
                    <td>
                        <img class="flag-small" th:src="@{|/static/images/persons/${individual.photo}|}"/>
                        <strong>
                            <a href="/athlete/JIA Zongyang"
                            th:href="@{|/athlete/${individual.name}|}"
                            th:text="${individual.name}"}>WANG Bingyu</a>
                        </strong>
                    </td>
                    <td th:text="${#dates.format(individual.birthday, 'dd-MMM-yyyy')}">
                        1990-01-01
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <br/>
        <br/>
        <div>
            <h3>Scheduling</h3>
            <table id="Scheduling_Detail">
                <thead>
                <tr>
                    <th>
                        Start Time
                    </th>

                    <th>
                        Event
                    </th>

                    <th>
                        Result
                    </th>

                    <th>
                        Rank
                    </th>

                    <th>
                        Status
                    </th>
                </tr>

                </thead>
                <tbody>

                <tr th:each="teamCompetition : ${teamCompetitions}">
                    <td th:text="${#dates.format(teamCompetition.competition.time,'yyyy-MM-dd HH:mm')}">
                        Wed,14 Feb 14:05
                    </td>

                    <td>
                        <h4 th:text="${teamCompetition.competition.name}">Woman Round Robin Session 1</h4>
                    </td>

                    <td th:text="${teamCompetition.result}">
                        10 pts
                    </td>

                    <td th:text="${teamCompetition.rank}">
                        2
                    </td>

                    <td >
                        <div th:switch="${teamCompetition.competition.situation}">
                            <h4 th:case="'0'">Scheduled</h4>
                            <h4 th:case="'1'">On Going </h4>
                            <h4 th:case="'2'">Finished</h4>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!---->

<!--footer-->
<div id="footer"></div>
<script src="/static/js/olympic.ui-loader.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Team_Member_Detail').DataTable();
    });
    $(document).ready(function () {
        $('#Scheduling_Detail').DataTable();
    });
</script>
p
</body>
</html>